body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, lightskyblue, lightyellow, lightpink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    text-align:center;
}

p {
    background: transparent; 
}

h1 {
    color: blue;
}