body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, lightskyblue, lightyellow, lightpink);
}

p {
    background: transparent; /* Ou pode remover este estilo se não precisar */
}

h1 {
    color: blue;
}