body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, lightskyblue, lightyellow, lightpink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    text-align:center;

}
.gato{animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes rotate {
    0%{left: 0px;
    right: 0px;}
    25%{left:200%
    right:0%
transform: rotate(45deg)}
    50%{left:200px
    right:200px
transform: rotate(90deg)}
    75%{left:0px
    right:200px
transform:rotate(180deg)}
    100%{left:0px
    right:0px
transform:rotate(360deg)}
    
}
p {
    background: transparent; 
}

h1 {
    color: blue;
}